<!--The content below is only a placeholder and can be replaced.-->
<header>

    <mat-toolbar color="primary1">
        <span class="title-center1"> 
      Ruleta de Prueba
      </span>
    </mat-toolbar>
    <mat-toolbar color="primary2">
      <span class="title-center2"> 
    www.ruleta.com
    </span>
  </mat-toolbar>
  
  <mat-toolbar color="primary">
      <span class="title-center"> 
    Ruleta de Prueba
    </span>
  </mat-toolbar>
</header>
<body>
<div align="center">
<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
  <span class="parrafo"> 
    ¡Tienes 1 giro disponible!
    </span>

    <div class='section content'>
      <img class='scaling-svg' src='assets/images/Ruleta_on.svg'  viewBox="0 0 40 55"/>
    </div>

    <p><span class="parrafo"> Detalle de premios en ruleta</span></p>
    <div class="btns-premios">
      <a href="javascript:;"  mat-button (click)="openDialog(1)">
        <img   src="assets/images/Bot├│n_10.svg" />
      </a>
      <a href="javascript:;"  mat-button (click)="openDialog(2)">
        <img   src="assets/images/bot_n_800.svg" />
      </a>
      <a href="javascript:;"  mat-button (click)="openDialog(3)">
        <img   src="assets/images/Bot├│n_1000.svg" />
      </a>
      <a href="javascript:;"  mat-button (click)="openDialog(5)">
        <img  src="assets/images/Bot├│n_fastfood.svg" />
      </a>
      <a href="javascript:;"  mat-button (click)="openDialog(4)">
        <img   src="assets/images/Bot├│n_taxis.svg" />
      </a>
      <a href="javascript:;"  mat-button (click)="openDialog(2)" >
        <img   src="assets/images/Bot├│n_tiendas.svg" />
      </a>
    </div>

    
    
  
  
  

    <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>

    <p>
        <a href="javascript:;"  mat-button (click)="openDialog(2)">
            <span class="parrafo1"> ¿Cómo funciona la ruleta?</span>
          </a>
      
      </p>
  
  </div>
  </body>








<footer></footer>