<div mat-dialog-content>
  <div *ngIf="data.vista == 1">
    
      <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      
      <div   align="center" style="height:500px">
        <p>&nbsp;</p>
        
          <img class='illustration'src='assets/images/Premio_10.svg' style='max-width: 70%'/>
           <div id=bloque>
              <p></p>
            </div>
          <p><span class="parrafo2"> 10 opciones extra de ganar </span>
              <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
              
              <div >
              <mat-dialog-actions  align="center"> 
                <button  mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Entendido</button> 
              </mat-dialog-actions> </div> 
      </div>
      
            
    </div>
  
  <div *ngIf="data.vista == 2">
    <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      
      <div   align="center" style="height:500px">
        <p>&nbsp;</p>
        
          <img class='illustration' src='assets/images/Premio_800.svg' style='max-width: 70%'/>
           <div id=bloque>
              <p></p>
            </div>
          <p><span class="parrafo2"> 800 opciones extra de ganar </span>
              <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
              
              <div  class="center-div">
              <mat-dialog-actions>
                <button  mat-button mat-dialog-close type="button" class="btn btn-success btn-cons" >Entendido</button> 
                
              </mat-dialog-actions> </div> 
      </div>
  </div>

  <div *ngIf="data.vista == 3">
    <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      
      <div   align="center" style="height:500px">
        <p>&nbsp;</p>
        
          <img class='illustration' src='assets/images/Premio_1000.svg' style='max-width: 70%'/>
           <div id=bloque>
              <p></p>
            </div>
          <p><span class="parrafo2"> 1000 opciones extra de ganar </span>
              <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
              
              <div  class="center-div">
              <mat-dialog-actions>
                <button  mat-button mat-dialog-close type="button" class="btn btn-success btn-cons" >Entendido</button> 
              </mat-dialog-actions> </div> 
      </div>
      </div>


      <div *ngIf="data.vista == 4">
        <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
          
          <div   align="center" style="height:500px">
            <p>&nbsp;</p>
            
              <img class='illustration' src='assets/images/Premio_fastfood.svg' style='max-width: 70%'/>
               <div id=bloque>
                  <p></p>
                </div>
              <p><span class="parrafo2"> 1000 opciones extra de ganar </span>
                  <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
                  
                  <div  class="center-div">
                  <mat-dialog-actions>
                    <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Entendido</button> 
                  </mat-dialog-actions> </div> 

                
      </div>

      <div *ngIf="data.vista == 5">
        <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
          
          <div   align="center" style="height:500px">
            <p>&nbsp;</p>
            
              <img class='illustration' src='assets/images/Premio_1000.svg' style='max-width: 150px'/>
               <div id=bloque>
                  <p></p>
                </div>
              <p><span class="parrafo2"> 1000 opciones extra de ganar </span>
                  <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
                  
                  <div  class="center-div">
                  <mat-dialog-actions>
                    <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Entendido</button> 
                  </mat-dialog-actions> </div> 

                
      </div>
      
      <div *ngIf="data.vista == 6">
        <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
          
          <div   align="center" style="height:500px">
            <p>&nbsp;</p>
            
              <img class='illustration' src='assets/images/Premio_1000.svg' style='max-width: 150px'/>
               <div id=bloque>
                  <p></p>
                </div>
              <p><span class="parrafo2"> 1000 opciones extra de ganar </span>
                  <br /> <span class="parrafo2">el sorteo del departamento, viaje y auto</span></p>  
                  
                  <div  class="center-div">
                  <mat-dialog-actions>
                    <button   mat-button mat-dialog-close type="button" class="btn btn-success btn-cons">Entendido</button> 
                  </mat-dialog-actions> </div>               
      </div>
</div>