/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.title-center {
    flex: 1 1 auto;
    text-align: center;
    font-size:2.5vw;
  }

  .title-center1{
    flex: 1 1 auto;
    text-align: center;
    font-size:2.8vw;
  }

  .title-center2{
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.9vw;
  }

  .mat-toolbar.mat-primary {
    background: #28A956;
    height: 60px !important;
    color: #fff;
    font-size:18px;
  }

  .mat-toolbar.mat-primary1 {
    background: rgb(255, 255, 255);
    height: 20px !important;
    font-weight:bold;
    
    font-size:12px;
  
    color: rgb(12, 11, 11);
  }
  .mat-toolbar.mat-primary2 {
    background: rgb(255, 255, 255);
    height: 20px !important;
    font-weight:bold;
    
    font-size:10px;
  
    color: rgb(12, 11, 11);
  }

  .parrafo { 
    
    text-align: center;
    font-weight:bold; 
    font-size:15px;
    color: rgb(182, 182, 182);
  }
  .parrafo1 { 
    
    text-align: center;
    font-weight:bold; 
    font-size:15px;
    color: rgb(130, 203, 156);
  }

  .parrafo2 { 
    
    text-align: center;
    font-weight:bold; 
    font-size:15px;
    color: rgb(149, 149, 149);
    

  }
.bloque{
width: 400px;

}
  .myDiv
{
  width: 100%;
  height: 300px;
}

.illustration {
    width: 100%;
  }

  .illustration1 {
    width: 100%;
  }

.btns-premios{
    a{
        margin: 0 2px;
    }
}

.center-div
{
 
  height: 300px;
  justify-content: center ;
  
  
}

.mat-button, .mat-raised-button{
  background-color:red;
}

.scaling-svg {
 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
 }

 

  

